.assortment {
  padding-top: 73px;
  background: url("../img/ui/hero-mobile-1x.png") 50% 0% no-repeat;
  margin-bottom: 30px;

  @media (min-width: $md) {
    position: relative;
    padding-top: 23px;
    background: $grey-back url("../img/ui/hero-tablet-1x.png") no-repeat 50% 100%;
    margin-bottom: 15px;
  }

  @media (min-width: $xl) {
    padding-top: 18px;
    background: $grey-back url("../img/ui/hero-desktop-1x.png") no-repeat 50% 50%;
    margin-bottom: 131px;
  }
}

.assortment__wrap {
  display: none;
  
  @media (min-width: $md) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
  }

  @media (min-width: $xl) {
    padding-bottom: 114px;
  }
}

.assortment__submenu {
  display: flex;
  justify-content: space-between;

  &:first-child {
    @media (min-width: $xl) {
      display: none;
    }
  }

  &:nth-child(2) {
    @media (min-width: $md) {
      display: none;
    }

    @media (min-width: $xl) {
      display: flex;
    }
  }
}

.assortment__submenu .assortment__submenu-item:first-child {
  @media (min-width: $md) {
    margin-right: 37px;
  }

  @media (min-width: $xl) {
    margin-right: 61px;
  }
}

.assortment__submenu-item--mgleft {
  @media (min-width: $md) {
    margin-left: 95px;
  }
}

.assortment__submenu-link {
  font-size: 15px;

  &:hover {
    color: $c-main-opacity;
    text-decoration: none;
  }

  &:active {
    color: $black-opacity;
  }

  &--grey {
    font-weight: 400;
    color: $dark-grey;
    text-align: right;
  }
}

.assortment__title {
  margin-bottom: 120px;
  padding: 0 20px;
  font-size: 27px;
  text-align: center;

  @media (min-width: $md) {
    padding-bottom: 615px;
    margin-bottom: 0;
  }

  @media (min-width: $xl) {
    padding-bottom: 475px;
  }
}

.assortment__list {
  padding: 0;
  margin: 0;

  @media (min-width: $md) {
    display: flex;
    position: absolute;
    top: 627px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.assortment__list.container {
  padding: 0;

  @media (min-width: $md) {
    padding: 0 50px;
  }

  @media (min-width: $xl) {
    padding: 0 76px;
  }
}

.assortment__item {
  width: 100%;
  padding: 23px 30px 19px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 110px;
  &--tiffany {
    background-color: $tiffany;
  }

  &--dark-tiffany {
    background-color: $dark-tiffany;
  }

  @media (min-width: $md) {
    padding: 27px 35px 28px;
  }

  @media (min-width: $xl) {
    padding: 24px 37px 28px;
  }
}

.assortment__desc {
  font-family: $ff-main;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  color: $basic-white;

  @media (min-width: $md) {
    font-size: 20px;
    line-height: 30px;
  }
}

.assortment__img {
  @media (min-width: $xl) {
    padding-left: 108px;
    padding-top: 5px;
  }
}

.assortment__element {
  display: none;

  @media (min-width: $md) {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 115px;
    left: 0;
  }

  @media (min-width: $xl) {
    width: 100%;
    min-height: 34px;
    position: absolute;
    bottom: -16px;
  }
}
