.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;

  @media (min-width: $md) {
    padding: 0 50px;
  }
  
  @media (min-width: $xl) {
    padding: 0 76px;
  }

  &--fluid {
    max-width: 100%;
  }

  &--narrow {
    @media (min-width: $xl) {
      max-width: 700px;
      padding: 0;
    }
  }

  &--pl-large {
    padding-bottom: 245px;

    @media (min-width: $xl) {
      max-width: 904px;
      padding-left: 102px;
      padding-right: 0;
    }
  }
}
