.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;

  @media (min-width: $md) {
    padding: 0 50px;
  }
  
  @media (min-width: $xl) {
    padding: 0 76px;
  }

  &--fluid {
    max-width: 100%;
  }
}
