.contacts {
  position: relative;

  @media (min-width: $md) {
    padding-bottom: 47px;
  }
  @media (min-width: $xl) {
    padding-bottom: 94px;
  }
}

.contacts__wrap {
  @media (min-width: $xl) {
    display: flex;
    justify-content: space-between;
    flex: 0 0 527px;
    min-height: 457px;
    align-items: flex-end;
  }
}

.contacts__wrap-info {
  @media (min-width: $xl) {
    flex: 0 1 50%;
  }
}

.contacts__wrap-info.map {
    display: none;

    @media (min-width: $xl) {
      display: block;
    }
}

.contacts__wrap-map {
  order: 2;

  @media (min-width: $xl) {
    display: none;
  }
  
  @media (min-width: $md) {
    margin-bottom: 55px;
    order: 1;
  }
}

.contacts__wrap-btn {
  order: 2;
  margin-bottom: 40px;

  @media (min-width: $md) {
    display: flex;
    justify-content: center;
  }

  @media (min-width: $xl) {
    justify-content: flex-start;
  }
}

.contacts__inner {
  position: relative;

  @media (min-width: $md) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  @media (min-width: $xl) {
    display: flex;
    justify-content: center;
    padding-left: 110px;
    padding-bottom: 0;
  }

  &::after {
    display: none;

    @media (min-width: $md) {
      content: "";
      display: block;
      position: absolute;
      width: 47px;
      height: 81px;
      background: url("../img/element/flag.svg") no-repeat;
      top: 0;
      right: 0;
    }  

    @media (min-width: $xl) {
      top: -30px;
      left: 0;
    }
  }
}

.contacts__title {
  padding-bottom: 34px;
  font-size: 18px;
  order: -1;

  @media (min-width: $md) {
    font-size: 43px;
    line-height: 50px;
    padding-bottom: 49px;
    width: 100%;
  }

  @media (min-width: $xl) {
    font-size: 53px;
    line-height: 57px;
    padding-top: 0;
    padding-bottom: 37px;
  }
}

.contacts__inner-box {
  order: 0;

  @media (min-width: $md) {
    display: flex;
    margin: 0 -20px;
    margin-bottom: 50px;
  }

  @media (min-width: $xl) {
    flex-direction: column;
  }
}

.contacts__box {
  display: flex;
  flex: 0 1 100%;
  justify-content: space-between;
  
 
  @media (min-width: $md) {
    flex: 0 1 50%;
    padding: 0 20px;
  }

  @media (min-width: $xl) {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 28px;
    align-items: flex-start;
  }

}

.contacts__name,
.contacts__desc {
  font-family: $ff-main;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $dark-grey;
  min-width: 76px;

  @media (min-width: $md) {
    font-size: 17px;
  }
}

.contacts__name {
  @media (min-width: $md) {
    margin-right: 25px;
  }
}

.contacts__desc {
  min-width: 179px;
}

.contacts__box {
  padding-bottom: 29px;
}

.contacts__box:last-child {
  padding-bottom: 62px;

  @media (min-width: $md) {
    padding-bottom: 0;
  }
}

.contacts__box:first-child .contacts__desc {
  border-bottom: 1px solid $tiffany;
  cursor: pointer;

  &:hover,
  &:active {
    color: $light-tiffany;
  }

  @media (min-width: $md) {
    min-width: 204px;
    max-height: 30px;
  }
}

.contacts__img {
  display: none;

  @media (min-width: $md) {
    display: block;
    position: absolute;
    top: -23px;
    right: 53px;
  }

  @media (min-width: $xl) {
    top: 61px;
    left: 139px;
  }
}

.contacts__wrap-btn {
  text-align: center;
  order: 1;

  @media (min-width: $md) {
    order: 2;
  }

  @media (min-width: $xl) {
    text-align: left;
  }
}

.contacts__btn {
  padding: 15px 0;

  @media (min-width: $md) {
    min-width: 230px;
  }
}
