.map__wrap-img {
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    right: 40%;
    width: 67px;
    height: 100px;
    background: url("../img/icon/map-pin.svg") no-repeat;

    @media (min-width: $md) {
      top: 30%;
      right: 45%;
    }

    @media (min-width: $xl) {
      top: 30%;
      right: 40%;
    }
  }
}

.map__img {
  padding-bottom: 40px;
  width: 100%;
  height: auto;
  position: relative;

  @media (min-width: $md) {
    padding-bottom: 0;
  }
}