.reviews {
  margin-bottom: 42px;
  position: relative;

  @media (min-width: $md) {
    position: relative;
    background: url("../img/ui/review-1x.jpg") no-repeat;
    padding-top: 83px;
    margin-bottom: 69px;
  }

  
  @media (min-width: $xl) {
   background-position-x: 50px;
  }

}

.reviews__container {
  @media (min-width: $md) {
    margin-bottom: 85px;
  }

  @media (min-width: $xl) {
   padding-left: 230px;
   padding-bottom: 70px;
   margin-bottom: 67px;
  }

}

.reviews__title {
  padding-bottom: 15px;

  @media (min-width: $md) {
    padding-bottom: 39px;
  }

  @media (min-width: $xl) {
    padding-bottom: 36px;
  }
}

.reviews .slideshow-wrap {
  @media (min-width: $xl) {
    margin: 0;
  }
}

.reviews__text {
  margin: 0;
  padding-bottom: 34px;
  font-family: $ff-main;
  font-weight: 400;
  font-size: $fz-main;
  line-height: 30px;
  color: $dark-grey;
  min-height: 304px;

  @media (min-width: $md) {
    font-size: 17px;
    padding-bottom: 61px;
    min-height: auto;
  }

  @media (min-width: $xl) {
    padding-bottom: 44px;
  }
}

.reviews__text br {
  display: none;
}

.reviews__name {
  padding-bottom: 5px;

  @media (min-width: $md) {
    font-size: 18px;
  }

  @media (min-width: $xl) {
    font-size: 17px;
  }
}

.reviews__sub-name {
  font-family: $ff-main;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: $dark-grey;
  margin-bottom: 0;
}

.reviews__slider {
  padding-bottom: 30px;

  @media (min-width: $md) {
    padding-bottom: 98px;
  }

  @media (min-width: $xl) {
    padding-bottom: 144px;
  }
}

.reviews__btn {
  display: flex;
  justify-content: center;

  margin-bottom: 45px;

  @media (min-width: $md) {
    max-width: 175px;
    position: absolute;
    top: 79px;
    right: 50px;
  }

  @media (min-width: $xl) {
    top: 84px;
    right: 74px;
  }
}

.reviews__btn-btn {
  @media (min-width: $md) {
    min-width: 175px;
    padding: 14px 0;
  }
}