//////////////////////////////////////////// Open Sans
@font-face {
	font-weight: 700;
	font-family: "Open Sans";
	font-style: normal;

	font-display: swap;
	src: url(../font/OpenSans/OpenSans-Bold.woff2),
	url(../font/OpenSans/OpenSans-Bold.woff);
}

// @font-face {
// 	font-weight: 700;
// 	font-family: "Open Sans";
// 	font-style: italic;

// 	font-display: swap;
// 	src: url(../font/OpenSans/OpenSans-BoldItalic.woff2),
// 	url(../font/Open Sans/OpenSans-BoldItalic.woff);
// }

@font-face {
	font-weight: 400;
	font-family: "Open Sans";
	font-style: normal;

	font-display: swap;
	src: url(../font/OpenSans/OpenSans-Regular.woff2),
	url(../font/OpenSans/OpenSans-Regular.woff);
}
