body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  font-size: $fz-main;
  font-family: $ff-main;
  color: $c-main;
}

.main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
}

// remove button clear ie
// ::-ms-clear {
// 	display: none;
// }

// remove button show password ie
// ::-ms-reveal {
// 	display: none;
// }

// remove select arrow
// select {
// 	-webkit-appearance: none;
// 	   -moz-appearance: none;
// 	        appearance: none;
// }

// select::-ms-expand {
// 	display: none;
// }

// input auto-complete change color
// :-webkit-autofill {
// 	box-shadow: 0 0 100px #fff inset;
// 	-webkit-text-fill-color: currentColor;
// }