// //////////////////////////////////////// font-family
$ff-main: "Roboto", sans-serif;

// //////////////////////////////////////// font-size
$fz-main: 16px;

// //////////////////////////////////////// colors
$c-main: #000;
$c-secondary: #ff5252;

// //////////////////////////////////////// breakpoints
$sl: 1499.98px;
$xl: 1199.98px;
$lg: 991.98px;
$md: 767.98px;
$sm: 575.98px;
$xsm: 425.98px;
$ssm: 359.98px;

// //////////////////////////////////////// col
$col-1: 100%;
$col-2: 50%;
$col-3: 33.333333%;
$col-4: 25%;
$col-5: 20%;
$col-6: 16.666667%;
$col-7: 14.285714%;